lab3/phoneNumbers_externel.dtd

  <!ELEMENT phoneNumbers (title,entries)>
    <!ELEMENT title (#PCDATA)>
    <!ELEMENT entries (entry+)>
    <!ELEMENT entry (name,phone,city)>
    <!ELEMENT name (first, middle?, last)>
      <!ELEMENT first (#PCDATA)>
        <!ELEMENT middle (#PCDATA)>
        <!ELEMENT last (#PCDATA)>
    <!ELEMENT phone (#PCDATA)>
    <!ELEMENT city (#PCDATA)>