lab3/songs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="songinfo">
    <xs:complexType>
      <xs:sequence>
  <xs:element name="song">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="singer" type="xs:string"/>
        <xs:element name="composeby" type="xs:string"/>
        <xs:element name="length" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
